*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'verdana';
}

:root{
    --padding-container: 100px 0;
    --color-title: #6480b4;
    background-image: url(./img/fondo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%;
    background-color: black;
   
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);  
}

.hero{
    width: 100%;
    height: 200vh;
    min-height: 500px;
    max-height: 600px;
    position: relative;
    display: grid;
    grid-template-rows: 250px 1fr;
    color: #fff;
}

/*nav*/
.nav{
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
}

.nav_title{
    font-weight: 300;
}

.nav_items{
    list-style: none;
    color: #fff;
}

.nav_links{
    text-decoration: none;
    color: #fff;
}

.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img{
    display: block;
    width: 30px;
}

/*hero container*/

.hero_container{
    max-width: 800px;
    display: grid;
    --padding-container:0;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero_title{
    font-size: 4rem;
}

.hero_paragraph{
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    justify-self: center;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 30px;
}

/*about */
.container_about{
    background-image: url(./img/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
}

.subtitle{
    color: var(--color-title);
    font-size: 3rem;
    margin-bottom: 20px;
}

.about_paragraph{
    line-height: auto;
}

.about_main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
}

.about_icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: auto;
    overflow: hidden;
    margin: 0 auto;
}

.about_img {
    border-radius: 30px;
    height: 80%;
    width: 70%;
}

.about_icon{
    width: 20px;
}

/* Knowledge */
.knowledge{
 background-image: url(./img/portada2.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}

.knowledge_container{
    display: grid;
    grid-template-columns: 1fr,1fr;
    gap: 1em;
    align-items: center;
    text-align: center;
}

.knowledge_paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
    width: 60%;
    color: rgb(224, 224, 224);
    font-weight: 300;
    padding-top: 5px;
} 

.knowledge_img{
    width: 30%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
}

.knowledge_contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Price */

.price{
    background-image: url(./img/fondo3.jpg);
    background-size: cover;
    text-align: center;
}

.price_table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
   
}

.price_element{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    padding: 40px;
    width: 330px;
}

.price_name{
    color: #fff;
    margin-bottom:15px;
    font-weight: 300;
    font-size: 30px;
}

.price_price{
    font-size:2.5rem;
    color: rgba(255, 255, 255, 0.877);
}

.price_items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 60px;
    color: #fff;
}

.price_cta{
    display: block;
    padding: 20px 0; 
    border-radius: 10px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
}

/* Testimony */
.subtitle{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
}

.testimony_conteiner{
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    align-items: center;
    background-image: url(./img/portada0.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}

.slider_testimony{
    display: flex;
}

.slider_test{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
   align-items: center;
}

.img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 100%;
}

p{
    color: #fff;
    text-align: center;
    font-style: italic;
}

.testimony_text{
    color: #fff;
    text-align: center;
    font-style: italic;
    padding: 60px;
    margin: 30px;
}

.Name{
    color: #fff;
    text-align: center;
    font-style: italic;
    height: 30px;
    padding: 60px;
}


/* Questions*/
.questions{
    background-image: url(./img/questions0.jpg);
    background-position: inherit;
    background-size: cover;

}

.questions_container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #000;
}

.quesions_padding{
    padding: 0;
    transition: padding .3s;
    border-radius: 6px;
    border: 1px solid #5454d4;
}

.quesions_padding--add{
    padding-bottom: 30px;
}

.questions_answer{
    padding: 0 30px 0;
    overflow: hidden;
}

.questions_arrow{
    border-radius: 50%;
    background-color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 20px;
    transition: transform .3s;
}

.questions_arrow--rotate{
    transform: rotate(180deg);
}

.questions_img{
    display: block;
}

.questions_show{
    text-align: left;
    height: 0;
    transition: height .3s;
}

.questions_title{
    color: #fff;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    justify-content: space-between;
}

.quesions_paragraph{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.questions_copy{
    margin-bottom: 30px;
    width: 60%;
    margin: 0 auto;
}

.questions_cta{
    align-items: center;
    display: inline-block;
    justify-self: center;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 30px;
    margin-left: 46%;
}


/* Footer */

.footer{
    background-image: url(./img/footer.jpg);
    background-position: center;
    background-repeat: repeat;
 
}

.footer_title{
    color: var(--color-title);
    font-size: 3rem;
    margin-bottom: 50px;
    font-weight: 300;
    margin-left: 30%;
}

.footer_comteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav_footer{
    padding-bottom: 60px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav_link_footer{
    margin-left: 37%;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.footer_inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
    margin-left: 35%;
}

.footer_input{
    height: 50px;
    display: flex;
    padding-left: 50px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer_submit{
    margin-left: 10px;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #6480b4;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
}

.footer_copy{
    padding: 30px 0;
    text-align: center;
    color: #fff;
}

.footer_copyright{
    font-weight: 300;
    color: #fff;
}

.footer_copy_conteiner{
    text-align: center;
    color: #fff;
}

.footer_icons{
    display: inline-flex;
    margin-bottom: 10px;
}

.footers_img{
    width: 30px;
    height: 30px;
    margin: 40px;
}